body > .rigth-container{
    width: 70%;
    height: max-content;
    background-color: $primary_color;
    position: relative;
    padding: 1rem;
    left: 30%;
}

.rigth-container > .main-container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navegator{
    font-family: $font-theerth;
    font-size: 2.5rem;
    line-height: 2rem;
}

.list-lateral{
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    gap: 8rem;
}
   
.list-lateral >a:hover{
    color: $color_hover;
    font-size: 3rem;
    text-shadow: 0 0 20px white;
}






/* SECTION PROFILE*/
.section-info{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.section-info > h2{
    font-size: 3rem;
    font-family: $font-theerth;
    color: $threeth_color;
    border-bottom: white solid 2px;
    padding-bottom: 1rem;
}

.section-profile > p{
    font-family: $font-second;
    color: $threeth_color;
    font-size: 2rem;
    padding: 0.2rem;
    text-align: justify;
    line-height: 2rem;

}

/* SECTION PROJECTS*/
.container-card{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card-projects{
    width: 35rem;
    height: max-content;
    border-radius: 10px;
    background-color: $second_color;
    margin: 1rem;
    display: flex;
}

.card-projects > .container-img-card{
    width: 50%;
    height: 100%;
    border-radius: 0 7px 7 px 0;
    display: flex;
}

.container-img-card > img{
    width: 100%;
    height: 100%;
    border-radius: 7px 0 0 7px;
    display: block;
}

.card-projects > .container-description-card{
    width: 50%;
    height: 100%;
    border-radius: 0 7px 7 px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-description-card > h3,
.container-description-card > p{
    text-align: center;
    color: $threeth_color;
    font-size: 3rem;
    margin-top: 0.2rem;
}

.container-description-card > p{
    font-family: $font-second;
    font-size: 1.2rem;
    font-weight: 200;
    margin-top: 1rem;
    padding: 0.5rem;
}

.container-description-card > a{
    height: 2.5rem;
    width: 10rem;
    color: black;
    font-family: $font-second;
    font-size: 1.3rem;
    background-color: $threeth_color;
    border-radius: 5rem;
    margin-top: 1rem;
    text-decoration: none;
    text-align: center;
    padding-top: 0.5rem;
    
}

.container-description-card > a:hover{
    background-color: $color_hover;
    box-shadow: 0 0 15px white;
    color: black;
}

/* SECTION REFERENCES*/
.card-references{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.card-reference{
    width: 26rem;
    height: 18rem;
    background-color: $second_color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $threeth_color;
    font-family: $font-second;
    font-size: 1.5rem;
    padding: 1rem;
}

.card-reference > p{
    text-align: left;
    color: $threeth_color;
}


/* SECTION EXPERIENCE*/

.container-experience{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    
}

.card-experiencie{
    width: 12rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.card-experiencie >img{
    width: 10rem;
    height: 10rem;
}

.card-experiencie >p{
    color: $threeth_color;
    font-family: $font-principal;
    font-size: 2rem;
}

.progress-bar{
    width: 10rem;
    height: 1.5rem;
    margin-top: 0.5rem;
    margin-top: 1rem;
    border-radius: 25px;
}

.progress-bar::-webkit-progress-value{
    background-color: $color_hover;
}

.progress-bar::-moz-progress-bar{
    background-color: $color_hover;
}
.progress-bar::-ms-fill{
    background-color: $color_hover;
}

