$primary_color: #292323;
$second_color:#2d2d2e;
$threeth_color: #ffffff;
$color_texto: #e0e0e0;
$color_hover: #eeba0f;
$font-principal: 'Poppins', sans-serif; 
$font-second: 'DM Sans', sans-serif;
$font-theerth: 'Bebas Neue', sans-serif;

